@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*header nav logo nav-menu menu-item menu-link*/

.header{
  position: fixed;
  background: #aa0000ff;
  font-size: 16px;
  height: 80px;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.nav{
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1400px;
}
.boton{
  background-color: #00e676;
  border-radius: 20px;
  cursor: pointer;
  width: 175px;
  height: 45px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  
}
.logo img{
  padding: 23px 0px 0px 15px;
  }
.nav-menu{
  display: flex;
  gap: 2rem;
  line-height: 80px;
  list-style: none;
  padding-right: 40px;

}
.menu-item{
  width: max-content;
}

.menu-link{
  text-decoration: none;
  color: #fff;
}

.menu-link:hover{
  color: #000000;
  transition: 0.5s;
  padding: 1px 7px;
  border-radius: 20px;
}

.toggle{
  color: #fff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

.contenido{
  padding-top: 115px;
  max-width: 1400px;
  margin: auto;
  padding-bottom: 10px;
}

/*banner*/
.container{
  padding-top: 50px;
  }
  .banner{
      background: url(images/fondobanner.jpg) no-repeat fixed center;
      background-color: #aa0000ff;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: auto;
      width: 100% ; 
      color: #aa0000ff;
      text-align: center; 
      padding-top: 80px;   
   }
   
  
  .banner-content{
      max-width: 1200px;
      margin: auto;
  }
  
  .banner-seccion{
      max-width: 700px;
      margin: auto;
      padding: 60px 0px 80px 0px;
  }
  
  .banner-seccion h1{
      font-size: 40px;
      padding: 20px 30px 20px 30px;
      color: #000000;
  }
  .banner-seccion h2{
      padding: 0px 30px 20px 30px;
  }
  .banner-seccion h3{
      padding: 0px 30px 20px 30px;
  }
  
  .whatsapp{
      background: #00e676;
      color: #fff;
      border-radius: 25px;
      font-size: 20px;
      border: none;
      padding: 10px 20px 10px 20px;
      cursor: pointer;
  }
/*card*/
body{
  background: #f9f9f9;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.gallery{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  padding: 10px;
}


.card{
overflow: hidden;
background:#fff;
text-align: center;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.card ul{
  text-align: left;
}
.card h4, p{
  padding: 10px;
}

img{
  display: block;
  object-fit: cover;
  width: 100%;
}
.contact{
  background: url(images/fondobanner.jpg) no-repeat fixed center;
  background-color: #aa0000ff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100% ; 
  text-align: center;
  color: #fff;
  padding: 40px 0 45px 0;
}

.contacto h2{
  padding: 15px 0 15px 0;

}
.informativo{
color: #fff;   
}

.footer{
  text-align: center;
  background-color: #aa0000ff;
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
}
.menufooter li{
  list-style: none;
  color: #fff;
}

.logofooter{
  width: 190px;
  height: auto;  
  margin: auto;
}
.sectfooter{
  text-align: center;
  text-decoration: none;
  list-style: none;
}

/*quienes somos textbox*/
.textbox{
  height: auto;
  width: 100% ;     
}

.textseccion{
  max-width: 1200px;
  margin: auto;
}

.boxseccion{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 49%), 1fr)); 
  margin: auto;
  padding: 10px;
}

.textcontent{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  
}

/*responsive*/
@media (max-width: 768px){
  
  .banner{
    color: #aa0000ff;
  }
  .header{
    height: 60px;
    background: #aa0000ff;
  }
    
  .logo img{
    padding: 12px 0px 0px 15px;
  }
  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 0;
    background-color: #b60000ff;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 0;
    height: calc(100% - 60px);
    overflow-y: auto ;
    transform: translate(-100%);
    transition-duration: 0.5s;
    
  }
  .menu-item{
    line-height: 40px;
    border-bottom: 1px solid;
    border-color: rgb(245, 240, 240);
    width: 100%;
    text-align: center;
  }
  
  .menu-item:hover{
    background-color: #9a0000ff;
    
  }
  
  
  .toggle{
    display: block;
    font-size: 22px;
    
    }
  
    .menu-visible{
      transform: translate(0);
    }
    .accion h1{
        font-size: 32px;
    }
    .banner{     
      padding-top: 5px;
   }
    .banner-seccion{
    max-width: 700px;
    margin: auto;
    padding: 60px 0px 80px 0px;
}
  .banner-seccion h1{
  font-size: 10px;
  color: #000000;
}
  
  }
  
